@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$color-white: #fff;

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin font-lato {
  font-family: 'Lato', sans-serif;
}

@mixin start-button {
  @include font-montserrat;
  margin: 0;
  padding: 16px 20px;
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  color: $color-white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

body {
  @include font-lato;
  color: #414141;
}

.section-outer {
  width: 100%;
}

.section-inner {
  width: min(1180px, 100%);
  margin: 0 auto;
}

.description-item {
  &__icon {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }

  &__text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #6c6c6c;
    margin-top: 14px;
  }
}

.btn-main {
  @include start-button;
  border: none;
  background: linear-gradient(to right, #FE985B, #FE4FA7);
  color: $color-white;

  &:hover {
    background: linear-gradient(to right, #FE4FA7, #FE985B);
  }
}

.btn-secondary {
  @include start-button;
  border: 1px solid #414141;
  background: $color-white;
  color: #414141;
  transition: .2s;

  &:hover {
    background: #414141;
    color: $color-white;
  }
}

.section-header {
  color: #ffffff;
  background: url("../img/bitmap.png");
  background-size: cover;
  position: relative;

  .section-inner {
    min-height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(20, 39, 41, .6);
  }

  &-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding: 35px 10px 10px 10px;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;

  }

  &-wrapper {
    margin: 0 auto;

    &title,
    &subtitle {
      text-align: center;
    }

    &__title {
      text-align: center;
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      margin: 10px;
      margin-bottom: 16px;
    }

    &__subtitle {
      @include font-montserrat;
      text-align: center;
      font-size: 18px;
      line-height: 32px;
      width: 80%;
      margin: 0 auto 44px;
    }

    &__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      align-content: center;

      &-input,
      &-button {
        width: calc(clamp(280px, 34vw, 330px));
        padding:5px 15px;
      }

      &-input {
        //flex: 1;

        input {
          @include font-montserrat;
          border: none;
          background-color: rgba(255, 255, 255, .25);
          //color: $color-white;
          color: #5f1cf3;
          font-size: 16px;
          font-weight: bolder;
          outline: none;
          margin: 0;
          padding: 16px 20px;
          border-radius: 4px;
          width: 100%;
          transition: .2s;

          &::placeholder {
            color: $color-white;
          }

          &:focus {
            background-color: rgba(255, 255, 255, .5);
          }
        }
      }

      &-button {
        button {
          width: 100%;
        }
      }
    }
  }
}

.section-promo {
  padding-top: min(120px, 5vw);
  padding-bottom: min(120px, 5vw);

  .section-inner {}

  .section-promo-1 {
    display: flex;
    justify-content: space-around;
    gap: min(80px, 4vw);
    flex-wrap: wrap;

    &__content,
    &__video {
      flex-basis: max(47%, 380px);
    }

    &__content {
      padding: 10px;

      .title {
        font-size: 32px;
        line-height: 51px;
        font-weight: bold;
        margin-bottom: 56px;
      }

      .description-item {
        margin-top: 28px;
      }
    }

    &__video {
      img {
        width: max(100%, 400px);
        height: auto;
      }
    }
  }

  .section-promo-2 {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #e2e2e2;
    text-align: center;

    .description-item {
      width: max(30%, 200px);
    }
  }
}

.section-founder {
  background-color: #f6fafd;
  padding-top: 34px;
  padding: 15px;

  .section-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

  }

  &__img {}

  &__content {
    width: max(50%, 400px);

    &-text {
      @include font-montserrat;
      font-size: 24px;
      line-height: 40px;
    }

    &-name {
      font-size: 24px;
      line-height: 29px;
      font-weight: bold;
    }

    &-post {
      font-size: 20px;
      line-height: 29px;
    }
  }
}

.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  &__title {
    font-size: 36px;
    line-height: 51px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    width: 50%;
    margin: 0 auto 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    &-item {
      flex-basis: calc(clamp(370px, 30vw, 250px));
      padding: 60px 45px;

      &_title {
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 26px;
      }

      &_price {
        margin-bottom: 26px;

        .prefix {
          color: #FE4FA7;
          font-size: 72px;
          line-height: 86px;
          font-weight: bold;
        }

        .postfix {
          font-size: 14px;
          line-height: 17px;
          font-weight: bold;
        }
      }

      &_description {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 50px;
      }

      &_button {
      }

      &.active {
        background-color: #f6fafd;
      }
    }
  }

  //item active
}

.section-free {
  text-align: center;
  color: $color-white;
  background: linear-gradient(to right, #FE985B, #FE4FA7);
  padding-top: 120px;
  padding-bottom: 120px;

  &__title {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 26px;
  }

  &__description {
    @include font-montserrat;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    margin: 0 auto 40px;
  }

  &__button {
  }
}

.section-footer {
  padding-top: 120px;
  padding-bottom: 120px;

  &__logo {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 0 75px;

    li {

      a {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: #464646;
        text-decoration: none;

        &.active,
        &:hover {
          color: #fe50a6;
          transition: .2s;
        }
      }
    }
  }

  &__copyright_and_links {
    @include font-montserrat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    font-size: 14px;
    line-height: 18px;
    width: 60%;
    margin: 0 auto;
  }

  .helper-link {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      display: flex;
      gap: 30px;

      a {
        color: #464646;
        text-decoration: none;
      }
    }
  }

}

@import "mediaqueries";